<!DOCTYPE html>
<html lang="en">

<head>
    <link href="/images/logo.png" rel="icon">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Boxicons -->
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <!-- My CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/admin.css">

    <title>Admin Panel</title>
</head>

<body>


    <!-- SIDEBAR -->
    <section id="sidebar">
        <a href="#" class="brand">
            <i class='bx bxs-smile'></i>
            <span class="text">PulseCare</span>
        </a>
        <ul class="side-menu top">
            <li >
                <a href="/admin/dashboard">
                    <i class='bx bxs-dashboard'></i>
                    <span class="text">Dashboard</span>
                </a>
            </li>
            <li class="active">
                <a href="/admin/dashboard/patients">
                    <i class='fa fa-medkit'></i>
                    <span class="text">Patient List</span>
                </a>
            </li>
            <li>
                <a href="/admin/dashboard/update/patient">
                    <i class='fa fa-plus-square'></i>
                    <span class="text">Update Patients</span>
                </a>
            </li>
            <li>
                <a href="/admin/dashboard/doctor">
                    <i class='fa fa-user-md'></i>
                    <span class="text">Add Doctor</span>
                </a>
            </li>
            <li>
                <a href="/admin/dashboard/appointment">
                    <i class='fa fa-heartbeat'></i>
                    <span class="text">Add Appointment</span>
                </a>
            </li>
        </ul>
        <ul class="side-menu">
           
            <li>
                <a href="/admin/logout" class="logout">
                    <i class='bx bxs-log-out-circle'></i>
                    <span class="text">Logout</span>
                </a>
            </li>
        </ul>
    </section>
    <!-- SIDEBAR -->



    <!-- CONTENT -->
    <section id="content">
        <!-- NAVBAR -->
        <nav>
            <i class='bx bx-menu'></i>
            
            <form action="#">
                
            </form>
            <input type="checkbox" id="switch-mode" hidden>
            <label for="switch-mode" class="switch-mode"></label>
            
            <a href="#" class="profile">
                Admin
            </a>
        </nav>
        <!-- NAVBAR -->

        <!-- MAIN -->
        <main>
            <div class="head-title">
                <div class="left">
                    <h1>Dashboard</h1>
                    <ul class="breadcrumb">
                        <li>
                            <a href="#">Dashboard</a>
                        </li>
                        <li><i class='bx bx-chevron-right'></i></li>
                        <li>
                            <a class="active" href="#">Patients</a>
                        </li>
                    </ul>
                </div>
                
            </div>

            


            <div class="table-data">
                <div class="order">
                    <div class="head">
                        <h3>Patients Connected </h3>
                    </div>
                    <table>
                        <thead>
                            <tr>
                                <th>Patient ID</th>
                                <th>Name</th>
                                <th>Disease</th>
                                <th>In guidance </th>
                                <th>Age </th>
                                <th>Gender </th>
                                <th>Mobile No </th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#patient}}
                            <tr><td>{{Username}}</td>
                            <td>{{Name}}</td>
                            <td>{{Disease}}</td>
                            <td>{{Doctor}}</td>
                            <td>{{Age}}</td>
                            <td>{{Gender}}</td>
                            <td>{{Mobile}}</td></tr>
                           
                           {{/patient}}
                           
                        </tbody>
                    </table>
                </div>
                
            </div>
        </main>
        <!-- MAIN -->
    </section>
    <!-- CONTENT -->


    <script src="/js/index.js"></script>
</body>

</html>